$color-primary: #fed600;
$color-secondary: #d2001c;
$color-secondary-dark: #c41e24;

$color-text: #4d4d4d;
$color-text-light: #c4c4c4;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #bdbdbd;

$default-font-size: 1.3rem;
