.socials {
  display: flex;

  &__icon {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.9rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}
